@font-face {
    font-family: neueHaas-light;
    src: url(Font/NeueHaasDisplayLight.ttf);
  }

  @font-face {
    font-family: neueHaas-bold;
    src: url(Font/NeueHaasDisplayBold.ttf);
  }

  @font-face {
    font-family: neueHaas-mediu;
    src: url(Font/NeueHaasDisplayMediu.ttf);
  }

  @font-face {
    font-family: neueHaas-thin;
    src: url(Font/NeueHaasDisplayThin.ttf);
  }
  
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(0, 0, 0);

}


.background {

    background-color: lightgray;
}

header {
    display: flex;
    /*justify-content: space-around;*/
    max-width: 100%;
    /*align-items: center;*/
    /*text-align: center;*/
    padding-top: 1rem;
}

.registrado{
    font-size: 4vh;
}
@media (max-width: 600px){
    .cabeçalho-link{
        gap: 2vh !important;
    }

    .cabeçalho-link img{
        width: 3vh;
    }
}
.cabeçalho-link {
    display: flex;
    gap: 1rem;
    /*padding-left: 87vh;*/
    margin-right: 1vh;
    margin-left: auto;
    padding-top: 1vh;
}

@media (max-width: 600px){
    .logo{
        font-size: 3.5vh !important;
        margin-left: auto !important;
        padding-left: 2vh !important;
    }
}
.logo {
    font-family: neueHaas-light;
    font-size: 1.875em;
    background: transparent;
    cursor: pointer;
    color: black;
    font-weight:bolder;
    padding-left: 5.5vh;
}

.background2 {
    background-color: lightgray;
}
/* Media Query para telas menores, de até 600 pixels de largura */
@media (max-width: 600px) {
    
    .Estúdio h2{
        font-size: 4.5vh !important; /* Ajuste o tamanho da fonte conforme necessário */
        font-weight: bold !important;
        margin-left: 2vh !important;
    }

    .Estúdio p {
        font-size: 1.5vh !important; /* Ajuste o tamanho da fonte conforme necessário */
        margin-left: 2vh !important;
        margin-right: 2vh !important;
    }

    
}
.Estúdio-reveal{
    visibility: hidden;
}
.Estúdio h2 {
    margin-left: 5vh;
    font-size: 10vh;
    font-family: neueHaas-light;
    padding-top: 10vh;
}

.Estúdio p {
    padding-top: 5vh;
    padding-bottom: 10vh;
    font-size: 3.5vh;
    margin-left: 5vh;
    font-family: neueHaas-light;
}
.Estúdio h3 {
   padding-bottom: 9vh;
}

.container {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.container::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background-color:#474747;
    z-index: 1;
    padding-bottom: 0.2em;
    margin-bottom: 4.4em;
}
button {
    color:#ffffff;
    background: #474747;
    border:solid 1px #474747;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5.5px;
    display: inline-block;
    font-size: 2em;
}
@media screen and (max-width: 600px){
   .seta{
    font-size: 5vh !important;
   }
}
.seta{
    font-weight: bold;
    font-size: 3.075em;
    margin-left: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
   
}
@media screen and (max-width: 600px) {
    .btn2{
        font-size: 0.7em !important;
        margin-bottom: 2em !important;
    }

}    
.btn2{

    position: relative;
    padding: 1% 2%;
    margin-bottom: 3em;
    font-size: 1.075em ;
    font-family: neueHaas-mediu;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
   
}

.btn2:hover {
    color: black;
    background-color: #ffffff;
}

.portifolio {
    background-color: black;
    max-width: 100%;
    border-left:0cap;
    padding-left: 0%;
}

.port-thumb-reveal, .thumb1, .thumb2, .thumb3, .thumb4, .thumb5, .thumb6, .thumb7, .thumb8, .thumb9, .thumb10, .thumb11, .thumb12{
    visibility: hidden;
}
@media screen and (max-width: 600px) {
    .port-thumb{
        padding-bottom: 2vh !important;
        grid-template-columns: repeat(2, 1fr)!important;
    }
    
}
.port-thumb {
    display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;
            padding: 15px 10px 40px 15px;
}

.port-thumb img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    padding: 3px;
    cursor: pointer;
}

.bg-wilson-reveal{
    visibility: hidden;
}

.bg-wilson{
    background-image: url(https://i.imgur.com/yu1ZFLY.jpg);
    background-size: cover; /* cobre todo o espaço disponível na tag */
    background-position: center;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.conteudo {
    overflow: auto;
    padding-bottom: 6em;
}

.texto {
    float: left;
    width: 70%;
    padding-left: 6%;
    padding-top: 4.5em;
    
}

.texto p {
    font-family: neueHaas-light;
    color: #ffffff;
    padding: 1% 0 1% 0%;
    font-size: 3.5vh; /* Exemplo de unidade relativa */
    background-color: rgba(0, 0, 0, 0.801); /* Cor de fundo com opacidade */
    border-radius: 0.5em; /* Borda arredondada, ajuste conforme necessário */
    margin-top: 1em;
    max-width: 100%;

}

.texto h3 {
    font-family: neueHaas-light;
    padding-top: 1em;
    color: #cecdcd;
    font-size: 7vh; /* Unidade relativa para larguras de tela */
    
}

/* Media Query para telas menores */
@media screen and (max-width: 600px) {
    .texto p {
        font-size: 1.5vh !important;
    }

    .texto h3{
        font-size: 2vh !important;
    }

    .processo-criativo{
        font-size: 6vw;
    
    }


   
}

.sublinhado {
    text-decoration: underline;
}

.btn3:hover{
    color:#ffffff;
    background: #474747;
}

.btn3-reveal{
    visibility: hidden;
}
.btn3{
    font-family: neueHaas-light;
    color: black;
    background-color: #ffffff;
    margin: 18% 0 0 0%;
    padding: 1.5% 5%;
    font-size: 4vh ;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    border-radius: 0.4em;

}


@media screen and (max-width: 600px) {
    .btn3 {
        padding-left: 1em;
        width: 50%; /* Define a largura para 100% da largura do contêiner pai */
        margin-top: 18%;
        font-size: 1.5vh;
    }
}
@media (max-width: 600px){
    
    .texto-p{
        font-size: 1vh !important;
    }
}

@media (max-width: 600px){
    .processo-criativo1 img{
        content: url(https://i.imgur.com/PotTKMe.png); /* barras pretas do modo de trabalho abaixo dos ícones de composição */
        padding: 1vh 0 2vh 0 !important;
    }
}
.processo-criativo1 img {
    margin-top: 1vh;
    padding: 6vh 6vh;
    width: 100%;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 600px) {
    .processo-criativo{
        padding-top: 5vh !important;
    }
    .processo-criativo h2 {
        font-size: 6vh !important;
    }
    
}
.processo-criativo1-reveal{
    visibility: hidden;
}

.processo-criativo-reveal{
    visibility: hidden;
}

.processo-criativo {
    font-family: neueHaas-light;
    background-color: lightgray;
    padding: 0% 6% 0 6% ;
    font-size: 5vw;
}

@media screen and (max-width: 600px) {
    .processo-criativo p {
        font-size: 1.9vh !important;
        padding-bottom: 1vh !important;
        margin-right: 5vh !important;
    }
    
}
.processo-criativo p {
    font-family: neueHaas-light;
    font-size: 3.1vh;
}

.work-mode-reveal{
    visibility: hidden;
}

.work-mode {
    padding: 2vh 0 4vh 0;
    background-color: lightgrey;
}

@media screen and (max-width: 600px) {
    .work-mode{
        padding: 0;
    }
    .work-mode img {
     content: url(https://i.imgur.com/eUMeDJk.png); /* imagens dos icones de composição de trabalho */
     padding: 4vh 0 1vh 0 !important;
    }
    
}

.work-mode img {
    padding: 2vh 0 4vh 0;
    justify-content: center;
    width: 100%;
}

.work-mode p {
    width: 3.5rem; /* Largura para as descrições */
    text-align: center; /* Centraliza o texto */
    font-size: 0.37em; /* Define o tamanho da fonte */
    font-weight: bolder;
    padding: 0.1875em 0 0 0.8125;
    margin-left: 0.1875em;
}
.rodapé{
    overflow: auto;
    background-color: black;
    position: relative;
}
@media screen and (max-width: 600px){
    .preencha{
        font-size: 1.5vh;
        padding: 1vh 3vh 0 3vh !important;
        width: 100% !important;
    }
   .proposta{
         width: 100% !important;
         text-align: center !important;
         padding: 5vh 0 1vh 0 !important;
         float: none !important;   
   }
}
.proposta-reveal{
    visibility: hidden;
}

.preencha-reveal{
    visibility: hidden;
}
.proposta{
    font-family: neueHaas-light;
    padding: 10% 0 10% 5%;
    color: #ffffff;
    float: left;
    font-size: 3vh;
    width: 50%;
}

.proposta h1 {
    font-size: 11.5vh;
}

@media screen and (max-width: 600px){
    .proposta h1 {
        font-size: 7.5vh !important;
    }

    .proposta p {
        font-size: 1.6vh !important;
    }
}

.preencha{
    padding-top: 10%;
    clear: both;  /* limpa a flutuação */
    font-size: 2.5vh;
}


@media screen and (max-width: 600px){
    .btn4{
        font-size: 2.2vh !important;
        margin-top: 2vh !important;
    }
}

.btn4-reveal{
    visibility: hidden;
}
.btn4 {
    font-family: neueHaas-light;
    color: black;
    background-color: #ffffff;
    margin: 18% 0 0 0%;
    padding: 1.5% 4%;
    font-size: 1.675em ;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    border-radius: 0.4em;
}

.btn4:hover{
    color: #ffffff;
    background-color: #474747;

}


@media screen and (max-width: 600px) {
    .smartphone{
        position: relative !important;
        text-align: center !important;

    }
    .smartphone img{
      float: none !important;
       max-width: 100% !important;
       width: 80% !important;
       padding-top: 1vh !important;
       bottom: 0 !important;
    }
    }

.smartphone img{
    float: right;
    width: 50%;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    .social-media {
        font-size: 2.5vh !important;
        text-align: center !important; /* Alinhar o texto à esquerda */
        margin: 10px !important; /* Adicionar margem para dar espaço aos ícones */
        gap: 2vh !important;
        position: relative !important;
        left: 0 !important;
    }


}
.social-media-reveal{
    visibility: hidden;
}
.social-media {
    color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 2em;
    text-align: center;
    margin: 10px; /* Adiciona margem para dar espaço aos ícones */
    gap: 1em;
    font-size: 3vh;
}

.social-media a{
    margin: 0 0.5208333333333310vh;
}

.social-media img{
    width: 100%;

}







